<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>
<form action="/registration" method="post">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username" required><br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password" required><br>
  <button type="submit">Зарегистрироваться</button>
  <div>
    <a th:href="@{/login}" class="btn btn-outline-secondary">Уже зарегистрированы? Войти</a>
  </div>
</form>
</body>
</html>
